.clientList {
  display: flex;
}

.containerText {
  padding: 1rem;
  margin-bottom: 3rem;
  /* display: flex;
  justify-content: center; */
}

.containerText svg,
.containerLogo svg {
  width: 100%;
  max-width: 150px;
}

.containerText svg path,
.containerLogo svg path {
  /* fill: red; */
  /* fill: #646a78;
  fill: #a2a7b1; */
}

.containerText svg rect,
.containerText svg polygon,
.containerLogo svg rect,
.containerLogo svg polygon {
  /* fill: red; */
  /* fill: #646a78;
  fill: #a2a7b1; */
}

.containerText svg *,
.containerLogo svg * {
  /* fill: #b2c0d6; */
  /* fill: #646a78;
  fill: #a2a7b1; */
}

.containerText .companyLogo {
  height: 4rem;
}

.text {
  margin-top: 3rem;
}

@media only screen and (max-width: 768px) {
}

.containerLogo {
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin-bottom: 4rem;
}
@media only screen and (max-width: 568px) {
  .containerLogo {
    padding: 3rem;
    margin-bottom: 1.25rem;
  }
  .containerText {
    margin-bottom: 3rem;
    font-size: 1.2rem;
    padding: 0 0;
  }
  .containerText .companyLogo {
    margin-bottom: 1rem;
  }
  .containerText svg {
    width: 100px;
  }
  .text {
    font-size: 0.8rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
}
