.clientList {
  display: flex;
}

.containerText {
  padding: 1rem;
  margin-bottom: 3rem;
  /* display: flex;
  justify-content: center; */
}

.containerText svg,
.containerLogo svg {
  width: 100%;
  max-width: 150px;
}

.containerText svg path,
.containerLogo svg path {
  fill: #b2c0d6;
  /* fill: #646a78;
  fill: #a2a7b1; */
}

.containerText svg rect,
.containerText svg polygon,
.containerLogo svg rect,
.containerLogo svg polygon {
  fill: #b2c0d6;
  /* fill: #646a78;
  fill: #a2a7b1; */
}

.containerText svg *,
.containerLogo svg * {
  fill: #b2c0d6;
  /* fill: #646a78;
  fill: #a2a7b1; */
}

@media only screen and (max-width: 568px) {
}

@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 568px) {
}

.containerLogo {
  display: flex;
  justify-content: center;
  padding: 1rem;
  margin-bottom: 3rem;
}
