.wrapper2 {
  margin-top: 6rem;
  /* box-shadow: 0 10px 30px 0 #e6f4fd; */
  /* background: #fff; */
}

.row {
  /* border: 1px solid #fafafa; */
  /* box-shadow: 0 10px 30px 0 #e6f4fd; */
  /* border: 3px solid #e4f5fe; */
  box-shadow: 5px 10px 40px 10px #e6f4fd;
  border: 1px solid #e9f6fd;
}

.left {
  padding: 3rem;
  position: relative;
  overflow: hidden;
  background: #fff;
  /* border: 2px solid #e6f4fd; */
}

.right {
  padding: 3rem;
  background: linear-gradient(
    68deg,
    rgba(231, 244, 250, 0.64),
    rgba(205, 236, 255, 0.64)
  );
  background: #fff;
  height: 100%;
  margin: 0 -8px;
  /* border-left: 1px solid #15141a;
border-left: 1px solid #45b29a;
border-left: 1px solid rgb(98, 125, 152); */
  background: #15141a;
  background: linear-gradient(121.5deg, #f5fbff 0%, #f2f2fa 100%);
  color: #fff;
  background: linear-gradient(
    68deg,
    rgba(231, 244, 250, 0.64),
    rgba(205, 236, 255, 0.64)
  );
  color: #000;
  /* background: rgb(21, 20, 26); */
  font-size: 1.6rem;
  background: #e4f5fe;
  background: #fff;
  background: linear-gradient(
    68deg,
    rgba(231, 244, 250, 0.64),
    rgba(205, 236, 255, 0.64)
  );
}

.right svg {
  margin-top: 0.5rem;
  margin-right: 1rem;
}

.wrapper {
  max-width: 70rem;
  margin: auto;
  padding: 6rem 0;
  text-align: center;
}

.h1 {
  font-size: 4.8rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
  font-weight: 900;
  color: #000;
}

.p {
  margin-bottom: 40px;
  font-size: 15px;
  line-height: 30px;
  line-height: 1.8em;
  color: #000;
  max-width: 60rem;
}

.contactForm {
  width: 100%;
  min-height: 500px;
  padding: 4rem;
  box-shadow: 0 15px 40px 0 rgba(0, 0, 0, 0.15);
  margin-bottom: 40px;
  text-align: left;
  background: #fff;
  overflow: hidden;
  position: relative;
}

.address {
  margin: 0;
  color: rgb(98, 125, 152);
  color: #fff;
  color: #000;
  color: inherit;
  display: flex;
  align-items: flex-start;
}

.contactInfo {
  color: #fff;
  color: #000;
  color: inherit;
  display: flex;
  font-size: 2.4rem;
}

.conctactP {
  line-height: 1.8em;
  padding-bottom: 3rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.blurb {
  padding: 1rem 0;
  color: inherit;
  /* color: #fff;
  color: #000; */
  display: flex;
}

.contactLink {
  color: inherit;
  text-decoration: none;
  /* color: #fff;
  color: #000; */
  display: flex;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blur {
  height: 100%;
  width: 100%;
  max-width: 450px;
  margin: auto;
  transition: 0s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  color: "#fff";
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  color: #fff;
  visibility: hidden;
  opacity: 0;
}

.blurBG {
  background: #45b29a;
  background: #15141a;
  height: 50px;
  width: 50px;
  position: absolute;
  z-index: 5;
  border-radius: 50%;
  transition: 1s;
}

.blurIcon {
  height: 50px;
  width: 50px;
}

.blurThanks {
  position: relative;
  font-size: 3.2rem;
  font-weight: bold;
  z-index: 10;

  opacity: 0;
  transition: 0.5s;
  transition-delay: 0.5s;
}

.sentSvgContainer {
  position: relative;
  z-index: 10;
  transition: 0.5s;
  transition-delay: 0.5s;
  opacity: 0;
}

.sentSvgContainer svg {
  width: 150px;
  height: 300px;
}

.blurP {
  position: relative;
  z-index: 10;
  transition: 0.5s;
  transition-delay: 0.5s;
  opacity: 0;
}

.blur.active .blurBG {
  transform: scale(100);
}

.blurBtn {
  position: relative;
  z-index: 10;
  padding: 1rem 2rem;
  background: #fff;
  color: #45b29a;
  border: none;
  transition: 0.5s;
  transition-delay: 0.5s;
  opacity: 0;
  text-decoration: none;
  cursor: pointer;
  background: #45b29a;
  color: #fff;
}

.active {
  visibility: visible;
  opacity: 1;
}

.active .blurBtn,
.active .blurP,
.active .blurThanks,
.active .sentSvgContainer {
  opacity: 1;
}

.btn {
  padding: 1rem 2rem;
  width: 100%;
  background: #45b29a;
  color: #000;
  margin: 2rem 0;
  transition: 1s;
  margin: auto;
}

.btnLoading {
}

.spinnerContainer {
  margin: auto;
  text-align: center;
}

@media only screen and (min-width: 1080px) {
  .left {
    padding: 6rem 9rem;
  }
  .right {
    padding: 6rem;
  }
}

@media only screen and (max-width: 568px) {
  .h1 {
    margin-top: 2rem;
    font-size: 2.4rem;
  }
  .p {
    font-size: 1.4rem;
    margin-bottom: 0;
  }
  .left {
    padding: 1.5rem 0;
  }
  .right {
    margin-top: 3rem;
    padding: 1.5rem 0.8rem;
  }
  .wrapper2 {
    margin-top: 2rem;
  }
  .contactInfo {
    font-size: 1.6rem;
  }
  .contactP {
    font-size: 1.2rem;
  }
  .right {
    font-size: 1.2rem;
  }
}
