.headerHeading {
  font-weight: bold;
  font-size: 7.2rem;
  margin-bottom: 3.6rem;
  line-height: 1.25;
  color: rgba(0, 0, 0, 0.8);
  color: #3c424f;
  color: #000;
}

.headerText {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
  font-size: 2.2rem;
  color: #3c424f;
  line-height: 44px;
  top: 2px;
}

.hero {
  padding: 12rem 0 9rem 0;
  /* background: #15141a; */
  color: #000;
  background: #e0ebe8;
}

.linkContainer {
  width: auto;
  margin: auto;
  text-align: center;
}

.link {
  position: relative;
  font-size: 2.2rem;
  letter-spacing: -0.51px;
  line-height: 32px;
  padding-bottom: 2px;
  margin-top: 80px;
  margin-bottom: 10px;
  color: #000;
  text-decoration: none;
  color: #3c424f;
  font-weight: bold;
}

.link::after {
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0;
  right: 0;
  transform: translate3d(0, 0, 0);
  transition: all 0.4s;
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  border-radius: 2px;
  z-index: -1;
  height: 4px;
  background: #45b29a;
  content: "";
}

.link:hover::after {
  height: 100%;
  background: #e9f7ff;
  border-radius: 4px;
}

.link:hover::before {
  transform: scaleX(1);
}

.waveContainer {
  background: #fff;
}
.waveContainer > svg {
  display: block;
}

.waveContainer > svg * {
  fill: #15141a;
}

.video {
  max-width: 100%;
}

.section {
  padding: 9rem 0 6rem 0;
}

.sectionHeading {
  position: relative;
  font-size: 2.4rem;
  margin-bottom: 4rem;
  color: #3c424f;
}

.sectionHeading::after {
  opacity: 1;
  width: 45px;
  top: 30px;
  content: "";
  height: 5px;
  position: absolute;
  background: #99efb5;
  background: #45b29a;
  border-radius: 2.5px;
  left: 0;
  z-index: -1;
  transition: all 0.15s ease-in-out;
  transform-origin: left;
}

/* WORK SECTION */

.workProject {
  margin-bottom: 6rem;
}

.workCard {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.workTile {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  max-width: 100%;
}

.workCompany {
  position: relative;
  font-weight: 900;
  line-height: 1.25;
  font-size: 2.4rem;
  color: #242424;
  letter-spacing: -0.02083333em;
  margin-top: 0.75em;
  z-index: 2;
}

.workVideoWrapper {
  position: absolute;
  left: 1px;
  top: 1px;
  right: 1px;
  bottom: 1px;
  overflow: hidden;
}

.workVideo {
  position: absolute;
  left: -1px;
  top: -1px;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  pointer-events: none;
  opacity: 1;
  transition: opacity 0s cubic-bezier(0.165, 0.84, 0.44, 1) 350ms;
  z-index: 2;
}

/* CLIENTS */

.clientList {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-row-gap: 6rem;
  flex-wrap: wrap;
}

.clientList li {
  padding: 1rem 0;
}

.clientList svg {
  width: 150px;
}

.clientList svg path {
  fill: #b2c0d6;
  fill: #646a78;
}

.clientList svg rect,
.clientList svg polygon {
  fill: #b2c0d6;
  fill: #646a78;
}

.clientList svg * {
  fill: #b2c0d6;
}

.clientList svg * {
  fill: #646a78;
}

/*  ABOUT */

.aboutFlex {
  display: flex;
  justify-content: space-between;
}

.aboutP {
  max-width: 60rem;
  width: 100%;
  font-size: 30px;
  letter-spacing: -1.15px;
  line-height: 45px;
  margin-bottom: 30px;
}

.aboutSpan {
  font-size: 6.4rem;
  font-weight: 900;
  color: #1d1d1d;
  margin-bottom: 0;
}

.aboutRightContainer {
  margin-bottom: 6rem;
}

@media only screen and (max-width: 568px) {
  .headerImgContainer {
    grid-row-start: 1;
  }
  .hero {
    text-align: center;
  }
  .headerHeading {
    margin: 3rem 0;
    font-size: 2.4rem;
  }
  .headerText {
    font-size: 1.4rem;
  }
  .aboutFlex {
    flex-direction: column;
  }
  .aboutP {
    font-size: 1.8rem;
  }
  .aboutRight {
    display: flex;
  }
  .aboutRightContainer {
    margin-right: 3rem;
  }
  .section {
    padding: 3rem 0;
  }
  .sectionHeading {
    font-size: 1.8rem;
  }
  .link {
    font-size: 1.2rem;
  }
}
