.footer {
  padding: 18rem 0;
  background-size: cover;
}

.footerBG {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.row {
  display: flex;
  justify-content: space-between;
}

.footer a {
  display: block;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 1.8rem;
}

.heading {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 25px;
}

.link {
  color: rgba(0, 0, 0, 0.65);
  font-weight: 500;
}

.phoneNumber {
  color: green;
}
