.group {
  margin-bottom: 2rem;
}

.labelRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.label {
  font-weight: 500;
  color: #102a43;
  color: #000;
  line-height: 2.5rem;
  font-size: 14px;
  text-transform: capitalize;
}
.input,
.textarea {
  width: 100%;
  padding: 9px 20px;
  border: 1px solid #e1e2eb;
  background-color: #fff;
  color: #102a43;
  caret-color: #829ab1;
  height: 49px;
  box-sizing: border-box;
  font-size: 1.4rem;
  line-height: 29px;
  transition: 0.3s;
}
.input:focus,
.input:active,
.textarea:focus,
.textarea:active {
  border: 1px solid #45b29a;
}

.input:focus,
input:active,
.textarea:focus,
.textarea:active {
  outline: none;
}

.inputError,
.textareaError {
  border-color: #bf1515 !important;
}

.textarea {
  min-height: 25rem;
}

.error {
  color: #bf1515;
  font-size: 1.2rem;
  animation: fadeIn 0.3s forwards ease-in;
}

@media only screen and (max-width: 568px) {
  .input,
  .textarea {
    font-size: 1.2rem;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
