.row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 4rem;
}

.row img {
  margin-bottom: 4rem;
}

.row li {
  padding: 1rem 0;
  margin-bottom: 4rem;
}

@media only screen and (max-width: 768px) {
  .row {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
@media only screen and (max-width: 568px) {
  .row {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}
