.char {
  font-size: 36px;
  line-height: 50px;
  letter-spacing: -1.2px;
  position: relative;
  font-weight: normal;
  color: #ffffff;
  opacity: 1;
  transition: opacity 0.33s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.quoteWrapper {
  height: 300px;
  width: 70%;
  position: relative;
}

.quoteContainerHidden,
.quoteContainer {
  position: absolute;
}

.quoteContainerHidden * {
  opacity: 0;
}

.quoteContainer span {
  opacity: 1;
}

.arrowBtn {
  background: transparent;
  cursor: pointer;
  border: none;
  width: 35px;
  height: 22px;
  will-change: width, opacity;
  transition: 0.2s;
}

.about {
  padding-top: 3rem;
  transition: opacity 0.5s;
  transition-delay: 0.5s;
}

.info {
  font-size: 20px;
  letter-spacing: -0.8px;
  color: #565c66;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  transition: opacity 0.5s;
  transition-delay: 0.5s;
}

.flexContainer {
  display: flex;
}

.arrowWrapper {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-left: 4rem;
  cursor: pointer;
}

.line {
  position: relative;
  top: 0.5px;
  width: 10px;
  height: 2px;
  margin-right: 2px;
  background: #fff;
  cursor: pointer;
}

.lineWrapper {
  opacity: 0;
  transition: opacity 0.2s;
  display: flex;
  padding: 0 0.5rem;
}

.arrowWrapper svg path {
  transition: 0.3s;
}

.arrowWrapper:hover path {
  transform: scaleX(0.8);
}

.arrowWrapper:hover .lineWrapper {
  opacity: 1;
}

@media only screen and (max-width: 768px) {
  .quoteWrapper {
    width: 100%;
    min-height: 300px;
  }

  .flexContainer {
    flex-direction: column;
  }
  .arrowWrapper {
    margin-left: 0;
  }
  .char {
    font-size: 2.4rem;
  }
}

@media only screen and (max-width: 568px) {
  .quoteWrapper {
    width: 100%;
    min-height: 400px;
  }

  .flexContainer {
    flex-direction: column;
  }
  .arrowWrapper {
    margin-left: 0;
  }
  .char {
    font-size: 1.6rem;
  }
}
